# MAST30034 Project 1
## Preprocessing

Potential questions:
How big of an impact do tourists have on taxi revenue?
Do road accidents effecct the duration of taxi trips?

In [33]:
from functools import reduce 
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession

# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("Project 1 - Preprocessing")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .getOrCreate()
)

The Green taxi service has an extra column called ehail_fee, to help combine the dataframes, all yellow taxi dataframes will have a ehail_fee column appended to it with 0 for each row as yellow taxis don't have a

In [47]:
from pyspark.sql.functions import lit

Gjan19 = spark.read.parquet('P1 Data/green_tripdata_2019-01.parquet')
Gfeb19 = spark.read.parquet('P1 Data/green_tripdata_2019-02.parquet')
Gmar19 = spark.read.parquet('P1 Data/green_tripdata_2019-03.parquet')
Gapr19 = spark.read.parquet('P1 Data/green_tripdata_2019-04.parquet')
Gmay19 = spark.read.parquet('P1 Data/green_tripdata_2019-05.parquet')
Gjun19 = spark.read.parquet('P1 Data/green_tripdata_2019-06.parquet')
Gjul19 = spark.read.parquet('P1 Data/green_tripdata_2019-07.parquet')
Gaug19 = spark.read.parquet('P1 Data/green_tripdata_2019-08.parquet')
Gsep19 = spark.read.parquet('P1 Data/green_tripdata_2019-09.parquet')
Goct19 = spark.read.parquet('P1 Data/green_tripdata_2019-10.parquet')
Gnov19 = spark.read.parquet('P1 Data/green_tripdata_2019-11.parquet')
Gdec19 = spark.read.parquet('P1 Data/green_tripdata_2019-12.parquet')

Gjan18 = spark.read.parquet('P1 Data/green_tripdata_2018-01.parquet')
Gfeb18 = spark.read.parquet('P1 Data/green_tripdata_2018-02.parquet')
Gmar18 = spark.read.parquet('P1 Data/green_tripdata_2018-03.parquet')
Gapr18 = spark.read.parquet('P1 Data/green_tripdata_2018-04.parquet')
Gmay18 = spark.read.parquet('P1 Data/green_tripdata_2018-05.parquet')
Gjun18 = spark.read.parquet('P1 Data/green_tripdata_2018-06.parquet')
Gjul18 = spark.read.parquet('P1 Data/green_tripdata_2018-07.parquet')
Gaug18 = spark.read.parquet('P1 Data/green_tripdata_2018-08.parquet')
Gsep18 = spark.read.parquet('P1 Data/green_tripdata_2018-09.parquet')
Goct18 = spark.read.parquet('P1 Data/green_tripdata_2018-10.parquet')
Gnov18 = spark.read.parquet('P1 Data/green_tripdata_2018-11.parquet')
Gdec18 = spark.read.parquet('P1 Data/green_tripdata_2018-12.parquet')

Yjan19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-01.parquet').withColumn('ehail_fee', lit(0))
Yfeb19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-02.parquet').withColumn('ehail_fee', lit(0))
Ymar19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-03.parquet').withColumn('ehail_fee', lit(0))
Yapr19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-04.parquet').withColumn('ehail_fee', lit(0))
Ymay19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-05.parquet').withColumn('ehail_fee', lit(0))
Yjun19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-06.parquet').withColumn('ehail_fee', lit(0))
Yjul19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-07.parquet').withColumn('ehail_fee', lit(0))
Yaug19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-08.parquet').withColumn('ehail_fee', lit(0))
Ysep19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-09.parquet').withColumn('ehail_fee', lit(0))
Yoct19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-10.parquet').withColumn('ehail_fee', lit(0))
Ynov19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-11.parquet').withColumn('ehail_fee', lit(0))
Ydec19 = spark.read.parquet('P1 Data/yellow_tripdata_2019-12.parquet').withColumn('ehail_fee', lit(0))

Yjan18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-01.parquet').withColumn('ehail_fee', lit(0))
Yfeb18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-02.parquet').withColumn('ehail_fee', lit(0))
Ymar18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-03.parquet').withColumn('ehail_fee', lit(0))
Yapr18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-04.parquet').withColumn('ehail_fee', lit(0))
Ymay18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-05.parquet').withColumn('ehail_fee', lit(0))
Yjun18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-06.parquet').withColumn('ehail_fee', lit(0))
Yjul18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-07.parquet').withColumn('ehail_fee', lit(0))
Yaug18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-08.parquet').withColumn('ehail_fee', lit(0))
Ysep18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-09.parquet').withColumn('ehail_fee', lit(0))
Yoct18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-10.parquet').withColumn('ehail_fee', lit(0))
Ynov18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-11.parquet').withColumn('ehail_fee', lit(0))
Ydec18 = spark.read.parquet('P1 Data/yellow_tripdata_2019-12.parquet').withColumn('ehail_fee', lit(0))

In [35]:
def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

In [45]:
sdf = unionAll(*[ \
     Gjan19, Gfeb19, Gmar19, Gapr19, Gmay19, Gjun19, Gjul19, Gaug19, Gsep19, Goct19, Gnov19, Gdec19,\
     Gjan18, Gfeb18, Gmar18, Gapr18, Gmay18, Gjun18, Gjul18, Gaug18, Gsep18, Goct18, Gnov18, Gdec18, \
     Yjan19, Yfeb19, Ymar19, Yapr19, Ymay19, Yjun19, Yjul19, Yaug19, Ysep19, Yoct19, Ynov19, Ydec19,\
     Yjan18, Yfeb18, Ymar18, Yapr18, Ymay18, Yjun18, Yjul18, Yaug18, Ysep18, Yoct18, Ynov18, Ydec18,])
sdf.count()

184397591

### Dropped Columns:

VendorID is used to indicate the provider who indicated the record, this inforation is not nesscary to know for this project as it has no effect of the taxis themselves. 

RatecodeID is used to indicate the kind of rate used (to calculate payment) during the ride. This is unescary information due to other columns.

store_and_fwd_flag is used to flag if the vechile had a conection to the service during payment, this information is unnessacy.

In [3]:
sdf = sdf.drop("VendorID", "RatecodeID", "store_and_fwd_flag")

### Combined columns

improvement_surcharge, mta_tax, extra, tolls_amount, airport_fee and congestion_surcharge are all various surcharges applied to the total fee to the customer. These on their own dont hold alot of information but the total will be kept.

In [4]:
from pyspark.sql.functions import *
sdf = sdf.na.fill(value=0,subset=["congestion_surcharge", "airport_fee"])
sdf = sdf.withColumn('surchange_amount', col("improvement_surcharge") + col("mta_tax") + col("extra") + col("tolls_amount") + col("airport_fee") + col("congestion_surcharge"))
sdf = sdf.drop("extra", "mta_tax", "improvement_surcharge", "congestion_surcharge", "tolls_amount", "airport_fee")

### Renaming records

In [5]:
sdf = sdf.withColumnRenamed("tpep_pickup_datetime", "pickup_time")
sdf = sdf.withColumnRenamed("tpep_dropoff_datetime", "dropoff_time")
sdf = sdf.withColumnRenamed("PULocationID", "pick_up_location")
sdf = sdf.withColumnRenamed("DOLocationID", "drop_off_location")

### Converting units

The trip_distance is set to miles (imperial), thus for ease of analysis, this will be set to kilometres (metric)

In [6]:
sdf = sdf.withColumn("trip_distance", round(col("trip_distance") * 1.60934, 3))

### Adding Trip duration (in minutes)

As there are time stamps of the pickup an dropoff times, it may be handy to look into aspects affecting the duration of the trip, thus we will add a column for total duration in minutes:

In [7]:
from pyspark.sql.functions import *
sdf = sdf.withColumn('trip_time_sec',unix_timestamp("dropoff_time") - unix_timestamp('pickup_time'))
sdf = sdf.withColumn('trip_time_min', round(col('trip_time_sec') / 60, 3))
sdf = sdf.drop('trip_time_sec')

### Changing Passenger count to integer type

In [8]:
sdf = sdf.withColumn('passenger_count', sdf.passenger_count.cast('int'))
sdf

+-------------------+-------------------+---------------+-------------+----------------+-----------------+------------+-----------+----------+------------+----------------+-------------+
|        pickup_time|       dropoff_time|passenger_count|trip_distance|pick_up_location|drop_off_location|payment_type|fare_amount|tip_amount|total_amount|surchange_amount|trip_time_min|
+-------------------+-------------------+---------------+-------------+----------------+-----------------+------------+-----------+----------+------------+----------------+-------------+
|2019-01-01 11:46:40|2019-01-01 11:53:20|              1|        2.414|             151|              239|           1|        7.0|      1.65|        9.95|             1.3|        6.667|
|2019-01-01 11:59:47|2019-01-01 12:18:59|              1|        4.184|             239|              246|           1|       14.0|       1.0|        16.3|             1.3|         19.2|
|2018-12-22 00:48:30|2018-12-22 00:52:40|              3|          0.0|             236|              236|           1|        4.5|       0.0|         5.8|             1.3|        4.167|
|2018-11-29 02:52:25|2018-11-29 02:55:45|              5|          0.0|             193|              193|           2|        3.5|       0.0|        7.55|             1.3|        3.333|
|2018-11-29 02:56:57|2018-11-29 02:58:33|              5|          0.0|             193|              193|           2|       52.0|       0.0|       55.55|             0.8|          1.6|
|2018-11-29 03:25:49|2018-11-29 03:28:26|              5|          0.0|             193|              193|           2|        3.5|       0.0|       13.31|            7.06|        2.617|
|2018-11-29 03:29:37|2018-11-29 03:33:43|              5|          0.0|             193|              193|           2|       52.0|       0.0|       55.55|             0.8|          4.1|
|2019-01-01 11:21:28|2019-01-01 11:28:37|              1|        2.092|             163|              229|           1|        6.5|      1.25|        9.05|             1.3|         7.15|
|2019-01-01 11:32:01|2019-01-01 11:45:39|              1|        5.955|             229|                7|           1|       13.5|       3.7|        18.5|             1.3|       13.633|
|2019-01-01 11:57:32|2019-01-01 12:09:32|              2|         3.38|             141|              234|           1|       10.0|       1.7|        13.0|             1.3|         12.0|
|2019-01-01 11:24:04|2019-01-01 11:47:06|              2|        4.506|             246|              162|           1|       15.0|      3.25|       19.55|             1.3|       23.033|
|2019-01-01 11:21:59|2019-01-01 11:28:24|              1|        1.127|             238|              151|           1|        5.5|       1.7|         8.5|             1.3|        6.417|
|2019-01-01 11:45:21|2019-01-01 12:31:05|              1|       14.001|             163|               25|           1|       34.5|      7.15|       42.95|             1.3|       45.733|
|2019-01-01 11:43:19|2019-01-01 12:07:42|              1|       10.139|             224|               25|           1|       21.5|       5.7|        28.5|             1.3|       24.383|
|2019-01-01 11:58:24|2019-01-01 12:15:18|              1|        4.345|             141|              234|           1|       13.0|       1.0|        15.3|             1.3|         16.9|
|2019-01-01 11:23:14|2019-01-01 11:25:40|              1|        0.612|             170|              170|           2|        3.5|       0.0|         4.8|             1.3|        2.433|
|2019-01-01 11:39:51|2019-01-01 11:48:02|              1|        0.885|             170|              170|           1|        6.5|      1.95|        9.75|             1.3|        8.183|
|2019-01-01 11:46:00|2019-01-01 11:49:07|              1|        0.483|             107|              107|           1|        4.0|      1.06|        6.36|             1.3|        3.117|
|2019-01-01 11:57:45|2019-01-01 12:03:51|              1|        2.285|             170|              141|           1|        6.5|      1.56|        9.36|             1.3|          6.1|
|2019-01-01 11:16:16|2019-01-01 11:25:57|              1|        2.768|              41|              247|           2|        9.0|       0.0|        10.3|             1.3|        9.683|
+-------------------+-------------------+---------------+-------------+----------------+-----------------+------------+-----------+----------+------------+----------------+-------------+
only showing top 20 rows

### Invalidating data:
#### passenger_count:

In [9]:
#sdf.select(max('passenger_count'), min('passenger_count'))
sdf.groupBy('passenger_count').count().show()

+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|           null|  28672|
|              1|5456515|
|              6| 200811|
|              3| 314692|
|              5| 323842|
|              9|      9|
|              4| 140753|
|              8|     29|
|              7|     19|
|              2|1113894|
|              0| 117381|
+---------------+-------+

As the reasonable minimum nuber of passengers is 1, For yellow taxis in NYC the maximum legal number of passengers is 5, thus we will onyl keep instances between 1 and 5 passengers:

In [10]:
sdf = sdf.filter(sdf.passenger_count > 0)
sdf = sdf.filter(sdf.passenger_count < 6)

#### pickup/dropoff time:
ensuring all data comes from the same month

In [11]:
sdf = sdf.filter(sdf.pickup_time >= '2019-01-01 00:00:00')
sdf = sdf.filter(sdf.pickup_time < '2019-02-01 00:00:00')
sdf = sdf.filter(sdf.dropoff_time >= '2019-01-01 00:00:00')
sdf = sdf.filter(sdf.dropoff_time < '2019-02-01 00:00:00')

#### Trip_distance:

In [12]:
print(sdf.agg({'trip_distance': 'max'}))
print(sdf.agg({'trip_distance': 'min'}))

+------------------+
|max(trip_distance)|
+------------------+
|          1338.649|
+------------------+

+------------------+
|min(trip_distance)|
+------------------+
|               0.0|
+------------------+

As New York from north to south is approximately 500km long, we will set that as the upper bound of acceptable taxi trip distances, and of course all non-zero/negative values as the lower bound:

In [13]:
sdf = sdf.filter(sdf.trip_distance > 0)
sdf = sdf.filter(sdf.trip_distance < 500)

### Total_amount:

In [14]:
print(sdf.agg({'total_amount': 'max'}))
print(sdf.agg({'total_amount': 'min'}))

+-----------------+
|max(total_amount)|
+-----------------+
|        623261.66|
+-----------------+

+-----------------+
|min(total_amount)|
+-----------------+
|           -322.3|
+-----------------+

In [15]:
sdf.where(sdf.total_amount > 1000).count()

5

Given that there is only 5 instances of a taxi charging more than $1000, we will set this as our reasonable upper bound to prevent outliers which are most likely errors, additionally any negative totals will be removed as they are clear errors.

In [16]:
sdf = sdf.filter(sdf.total_amount > 0)
sdf = sdf.filter(sdf.total_amount < 1000)

#### Trip_time:

In [17]:
print(sdf.agg({'trip_time_min': 'max'}))
print(sdf.agg({'trip_time_min': 'min'}))

+------------------+
|max(trip_time_min)|
+------------------+
|         33856.683|
+------------------+

+------------------+
|min(trip_time_min)|
+------------------+
|         -2838.233|
+------------------+

Based on the reasonable maximum travel diatance of 500km, we assume an average travel speed of 60km/h (condering traffic as well as highways) which is exacly 8 hours and 20 mins (500mins), thus we can set this as the reasonable upper bound and 0 as the reasonable lower bound

In [18]:
sdf = sdf.filter(sdf.trip_time_min > 0)
sdf = sdf.filter(sdf.trip_time_min < 500)

In [19]:
sdf.count()

7102174

In [20]:
sdf

+-------------------+-------------------+---------------+-------------+----------------+-----------------+------------+-----------+----------+------------+----------------+-------------+
|        pickup_time|       dropoff_time|passenger_count|trip_distance|pick_up_location|drop_off_location|payment_type|fare_amount|tip_amount|total_amount|surchange_amount|trip_time_min|
+-------------------+-------------------+---------------+-------------+----------------+-----------------+------------+-----------+----------+------------+----------------+-------------+
|2019-01-01 11:46:40|2019-01-01 11:53:20|              1|        2.414|             151|              239|           1|        7.0|      1.65|        9.95|             1.3|        6.667|
|2019-01-01 11:59:47|2019-01-01 12:18:59|              1|        4.184|             239|              246|           1|       14.0|       1.0|        16.3|             1.3|         19.2|
|2019-01-01 11:21:28|2019-01-01 11:28:37|              1|        2.092|             163|              229|           1|        6.5|      1.25|        9.05|             1.3|         7.15|
|2019-01-01 11:32:01|2019-01-01 11:45:39|              1|        5.955|             229|                7|           1|       13.5|       3.7|        18.5|             1.3|       13.633|
|2019-01-01 11:57:32|2019-01-01 12:09:32|              2|         3.38|             141|              234|           1|       10.0|       1.7|        13.0|             1.3|         12.0|
|2019-01-01 11:24:04|2019-01-01 11:47:06|              2|        4.506|             246|              162|           1|       15.0|      3.25|       19.55|             1.3|       23.033|
|2019-01-01 11:21:59|2019-01-01 11:28:24|              1|        1.127|             238|              151|           1|        5.5|       1.7|         8.5|             1.3|        6.417|
|2019-01-01 11:45:21|2019-01-01 12:31:05|              1|       14.001|             163|               25|           1|       34.5|      7.15|       42.95|             1.3|       45.733|
|2019-01-01 11:43:19|2019-01-01 12:07:42|              1|       10.139|             224|               25|           1|       21.5|       5.7|        28.5|             1.3|       24.383|
|2019-01-01 11:58:24|2019-01-01 12:15:18|              1|        4.345|             141|              234|           1|       13.0|       1.0|        15.3|             1.3|         16.9|
|2019-01-01 11:23:14|2019-01-01 11:25:40|              1|        0.612|             170|              170|           2|        3.5|       0.0|         4.8|             1.3|        2.433|
|2019-01-01 11:39:51|2019-01-01 11:48:02|              1|        0.885|             170|              170|           1|        6.5|      1.95|        9.75|             1.3|        8.183|
|2019-01-01 11:46:00|2019-01-01 11:49:07|              1|        0.483|             107|              107|           1|        4.0|      1.06|        6.36|             1.3|        3.117|
|2019-01-01 11:57:45|2019-01-01 12:03:51|              1|        2.285|             170|              141|           1|        6.5|      1.56|        9.36|             1.3|          6.1|
|2019-01-01 11:16:16|2019-01-01 11:25:57|              1|        2.768|              41|              247|           2|        9.0|       0.0|        10.3|             1.3|        9.683|
|2019-01-01 11:46:43|2019-01-01 11:47:02|              1|        0.097|             116|               42|           2|        2.5|       0.0|         3.8|             1.3|        0.317|
|2019-01-01 11:48:01|2019-01-01 12:00:23|              1|        2.414|             113|               90|           2|        7.5|       0.0|         8.8|             1.3|       12.367|
|2019-01-01 11:55:27|2019-01-01 12:11:50|              1|        1.931|             161|              170|           1|       10.5|      2.95|       14.75|             1.3|       16.383|
|2019-01-01 11:19:55|2019-01-01 11:57:56|              1|       19.795|             138|               50|           1|       38.0|       4.0|       49.06|            7.06|       38.017|
|2019-01-01 11:13:53|2019-01-01 11:22:11|              1|        2.092|             144|              261|           2|        7.5|       0.0|         8.8|             1.3|          8.3|
+-------------------+-------------------+---------------+-------------+----------------+-----------------+------------+-----------+----------+------------+----------------+-------------+
only showing top 20 rows

22/08/01 22:27:46 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 308196 ms exceeds timeout 120000 ms
22/08/01 22:27:46 WARN SparkContext: Killing executors is not supported by current scheduler.